body{
    background-color: rgb(157, 12, 12); 
    width: 90%;
    min-width: 100%;
    font-family: 'Share Tech Mono', monospace;
    text-align: center;
    margin-left: auto;
    margin-right:auto

}

.nav-logo {
    display: block;
    justify-content: center;
    align-items: center;
    margin: auto;
    max-width: auto;
    min-width: auto;
    height:300px
}

.register-sign-form{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: fit-content;
    padding-bottom: 5px;
 
}

.register-sign-button{
    margin-top: 50px;
    width: 300px;
    height: 50px;
    font-size: 30px;
    background-color: transparent;
    border: 3px solid #ffffff;
    border-radius: 5px;
    -webkit-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
    color: #eaeaea;
}
.register-sign-button:hover{
    box-shadow: 0 0 10px 0 #ffffff inset, 0 0 20px 2px #ffffff;
    border: 3px solid #ffffff;
}

.register-sign-title, .register-sign-nav {
    text-align: center;
    text-decoration:none;
    color: white;
    font-size:30px;
}
a{color: white}
a:link { text-decoration: none;}
a:hover { text-decoration: underline; 
        color: white}
input{
    width: 200px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid rgb(0, 0, 0);
    color: #000000;
    font-size: 18px;
    background-color:white;
    padding: 10px;
}

.fighter-container{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 80vw;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    gap:5px;
}
.fighter-flex-image {
    border: 3px solid pink;
    border-radius: 50px;
    width:fit-content;
}    
.fighter-flex-image:hover{
    box-shadow: 0 0 10px 0 #a50000 inset, 0 0 20px 2px #ffffff;
    border: 3px solid #e60000;
}

