body{
    background-color: rgb(114, 1, 1); 
    width: 90%;
    min-width: 100%;
    font-family: 'Share Tech Mono', monospace;
    text-align: center;
    margin-left: auto;
    margin-right:auto

}
/* NAV */
.nav-logo {
    align-items: center;
    margin: auto;
    max-width: auto;
    min-width: auto;
    height:300px
}
.nav-bar-divider{
    background-color: white;
    color:black;
   padding: 2%
}
.nav-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.flex-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}

/* SIGN-IN / REGISTER */
.register-sign-form{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: fit-content;
    padding-bottom: 5px;
 
}

.register-sign-button{
    margin-top: 50px;
    width: 300px;
    height: 50px;
    font-size: 30px;
    background-color: transparent;
    border: 3px solid #ffffff;
    border-radius: 5px;
    -webkit-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
    color: #eaeaea;
}
.register-sign-button:hover{
    box-shadow: 0 0 10px 0 #ffffff inset, 0 0 20px 2px #ffffff;
    border: 3px solid #ffffff;
}

.register-sign-title, .register-sign-nav {
    text-align: center;
    text-decoration:none;
    color: rgb(0, 0, 0);
    font-size:30px;
}
a{color: rgb(0, 0, 0)}
a:link { text-decoration: none;}
a:hover { text-decoration: underline; 
        color: rgba(0, 0, 0, 0.592)}
input{
    width: 200px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid rgb(0, 0, 0);
    color: #000000;
    font-size: 18px;
    background-color:white;
    padding: 10px;
}
/* FIGHTER */
.fighter-container{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 70vw;
    width:fit-content;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    gap:35px;
   
}
.fighter-details-flex, .weapons-flex {
    border: 3px solid pink;
    border-radius: 50px;
    width:fit-content;
    transition: all .2s ease-in-out; 
    background-color: rgba(0, 0, 0, 0.759);
    color:white ;
    font-size: 20px;
}    
.fighter-details-flex:hover{
    box-shadow: 0 0 10px 0 #a50000 inset, 0 0 20px 2px #ffffff;
    border: 3px solid #e60000;
    transform: scale(1.5);
}
.fighter-image{
    border-radius: 45px;
    width: fit-content;
    margin:5px
}
/* WEAPONS */
.weapons-container{
    display:flex;
    /* margin-left: 30vh */
    width:fit-content;
    
}

.publicweapons-title{
    text-align: start;
    margin-left:11%;
   
}
.weapons-left{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 36vw;
    width:fit-content;
    -ms-flex-align:start;
    justify-content: flex-start;
    margin-left: 2%;
    gap:2px;
    /* background-color: #0000009d;
    border-radius: 30px;
    padding-top:30px; */
   


}
.buildweapons-title{
    text-align: end;
    margin-right:35%; 
}
.buildweapons-list{
    list-style: none;
    font-weight: 100;
}
.weapons-right{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 36vw;
    width:fit-content;
    justify-content: flex-end;
    /* margin-left: 2% */
    gap:2px
}

.weapons-flex:hover{
    box-shadow: 0 0 10px 0 #a50000 inset, 0 0 20px 2px #ffffff;
    border: 3px solid #e60000;
    transform: scale(1.2);
   
}

.nav-fight-link{
   display: inline-block;
}