body{
    background-color: rgb(157, 12, 12); 
    width: 90%;
    min-width: 100%;
    font-family: 'Share Tech Mono', monospace;

}

.nav-logo {
    display: block;
    justify-content: center;
    align-items: center;
    margin: auto;
    max-width: auto;
    min-width: auto;
}

.register-form{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: fit-content;
    padding-bottom: 5px;
 
}